/Manifest*.toml
/docs/Manifest.toml
/docs/build/
.DS_Store
.vscode
test/Manifest.toml
test/Project.toml
docs/node_modules
*.cov
benchmark/Manifest.toml
.idea
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb*
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.fls

